.card_info_influencer {
  height: auto;
  width: 350px;
  border-radius: 30px;
  background: #dbeeff;
  box-shadow: 0px 5px 17px -7px rgb(0 0 0 / 40%);
  cursor: pointer;
  font-family: "Fira Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-top: -65px;
  border: 4px solid #fff;
  opacity: 0.7;
  object-fit: cover;
  z-index: 100;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.image:hover {
  opacity: 1;
  -webkit-transform: scale(1.35);
  -ms-transform: scale(1.35);
  transform: scale(1.35);
  border: 3px solid #fff;
}

.influencer_card-name {
  color: #2168a6;
  font-weight: 600 !important;
  font-size: 20px;
  margin-top: 30px;
}

.influencer_card-button-container {
  margin-top: 30px !important;
}

.influencer_card-underLine {
  border: 1px solid #fff;
  width: 80%;
  margin-top: 30px;
}

.influencer_card-Avatar {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
}

.influencer_card-Avatar-container {
  display: flex;
  justify-content: space-between !important;
  margin-top: 15px;
  align-items: center;
  padding: 5px 25px 10px;
  flex-direction: column;
}

.IconButton {
  box-shadow: 0px 5px 17px -7px rgb(0 0 0 / 40%);
  height: 35px;
  width: 35px;
}

.name-chip {
  color: gray;
  font-size: 12px;
  padding-bottom: 1.5rem;
  font-weight: 100;
  margin-top: 8px;
}
