.sidebar_main {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2168a6;
  height: 100%;
  width: 10%;
  overflow-y: scroll;
}

.sidebar_row_main_dev {
  padding: 20px;
  border-bottom: 1px solid #045194;
  cursor: pointer;
}

.sidebar_row_text {
  margin-top: 15px;
  color: white;
}

.icon_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  box-shadow: rgba(0, 0, 0, 0.197) 0px 5px 15px;
  border-radius: 50px;
}
