.alertStyle {
  width: 40%;
  margin-left: 30%;
  margin-top: 130px;
  box-shadow: rgba(99, 99, 99, 0.374) 0px 2px 8px 0px;
  border-radius: 5px;
}

.alertStyleText {
  color: #1ab1f5 !important;
  font-size: 15px !important;
}
