.influencer_card_detail-container {
  height: 600px;
  width: 90%;
  margin-left: 5%;
  margin-top: 120px;
  box-shadow: 5px 5px 40px 5px rgb(112 111 111 / 21%);
  border-radius: 20px;
  display: flex;
  justify-content: center !important;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
}

.influencer_card_detail_image-container img {
  height: 430px;
  width: 360px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 60px;
  margin-top: 100px;
}

.influencer_card_detail {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.influencer_card_detail-name {
  color: #2168a6;
  margin-top: 50px;
}

.influencer_card_detail-text {
  color: #707070;
  margin-top: 15px;
  margin-bottom: 5px;
}

.influencer_card_detail-rating {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.influencer_card_detail-btn-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 30px;
}

.influencer_card_detail-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.influencer_request-btn {
  background-color: #2e81ca;
  color: white;
  text-transform: uppercase;
  /* font-weight: bold; */
  border: 1px solid white;
  padding: 14px;
  border-radius: 25px;
  font-size: 17px;
}

.influencer_request-btn:hover {
  background-color: #fff;
  color: #2e81ca;
  text-transform: uppercase;
  border: 1px solid #2e81ca;
  padding: 16px 24px;
  border-radius: 25px;
  transition: 0.75s;
}

.influencer_Add-btn {
  width: 150px;
  background-color: #f294c0;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 10px;
  border-radius: 25px;
  transition: all ease-in 0.2s;
  margin-left: 20px;
  font-weight: 500;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.influencer_Add-btn:hover {
  background-color: #fff;
  color: #f294c0;
  border: 1px solid #f294c0;
  padding: 10px;
  border-radius: 25px;
  transition: 0.75s;
}
