.SearchForInfluencerContainer {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
  margin-top: 150px;
}

.SearchIconButtonInfluencer {
  box-shadow: 0px 5px 17px -7px rgb(0 0 0 / 40%);
  color: #2168a6;
}
