.AdminEditInputUsersComponents {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif !important;
  height: auto !important;
  min-height: 90vh;
}

.AdminEditInputUsers {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 80%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.371),
    0px 1px 1px 0px rgba(0, 0, 0, 0.333), 0px 1px 3px 0px rgba(0, 0, 0, 0.338);
  min-height: 40vh;
  border-radius: 5px;
  margin-top: 30px;
}

.cardTitleInputUsers {
  color: #2168a6;
  font-family: "Fira Sans", sans-serif;
  margin-top: 50px;
  margin-left: 100px !important;
}

.checkboxAdminFlex {
  display: flex;
  justify-content: center !important;
  align-items: center;
  margin-right: 700px;
  padding: 10px;
  margin-top: 3px;
}

.checkboxAdminFlex p {
  margin-right: 10px;
}
