.AdminsUsersEditInfoTableContainer {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif !important;
  height: auto !important;
  min-height: 110vh;
}

.AdminsUsersEditInfoTable {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: auto !important;
  min-width: 55%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.371),
    0px 1px 1px 0px rgba(0, 0, 0, 0.333), 0px 1px 3px 0px rgba(0, 0, 0, 0.338);
  height: auto !important;

  border-radius: 5px;
  margin-left: 100px;
}

@media screen and (max-width: 940px) {
  .tableID {
    display: none !important;
  }
}

@media screen and (max-width: 670px) {
  .AdminsUsersEditInfoTable {
    margin-left: 60px;
  }
  .tableName {
    display: none !important;
  }
}

@media screen and (max-width: 578px) {
  .AdminsUsersEditInfoTable {
    margin-left: 40px;
  }

  .tableInfluencer {
    display: none !important;
  }

  .tableAdmin {
    display: none !important;
  }
}

@media screen and (max-width: 353px) {
  .AdminsUsersEditInfoTable {
    margin-left: 40px;
  }
  .tableName {
    display: flex !important;
  }

  .tableEmail {
    display: none !important;
  }
}
