.influencer_edit_hed_page {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  font-family: "Fira Sans", sans-serif !important;
  height: auto !important;
  min-height: 250vh !important;
}

.influencer_edit_hed_page h1 {
  text-align: center;
  margin: 1rem 0;
  color: #2168a6;
  font-size: 2em;
  font-weight: bold;
}

.influencer_edit_form_card-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 80%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.371),
    0px 1px 1px 0px rgba(0, 0, 0, 0.333), 0px 1px 3px 0px rgba(0, 0, 0, 0.338);
  margin-top: 10px;
  min-height: 160vh !important;
  height: auto !important;
}

.influencer_edit_form_youtube h2 {
  color: #2168a6;
  font-size: 1.17em;
  font-weight: bold;
  margin-right: 570px;
  margin-top: 20px !important;
}

.influencer_edit_form_btn {
  color: #fff;
  background-color: #3f51b5;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  font-size: 16px;
  border: none;
  cursor: pointer;
  outline-width: 0;
  padding: 6px 20px;
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 2;
  border-radius: 4px;
  letter-spacing: 0.03857em;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left: 650px;
}

.influencer_edit_form_btn:hover {
  background-color: #3a49a0;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.401),
    0px 2px 2px 0px rgba(0, 0, 0, 0.564), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.influencer_edit_image_profile {
  margin-top: 50px;
}

.influencer_edit_image_profile h2 {
  color: #2168a6;
  font-size: 1.17em;
  font-weight: bold;
  margin-right: 570px;
  margin-top: 20px !important;
}

.checkBoxForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 70px;
}

.checkBoxForm-p {
  display: block;
  justify-content: baseline;
  align-items: baseline;
}

@media screen and (max-width: 950px) {
  .influencer_edit_form_btn {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 915px) {
  .influencer_edit_image_profile h2 {
    margin-right: 0px !important;
  }
}

@media screen and (max-width: 840px) {
  .influencer_edit_form_card-container {
    min-height: 160vh !important;
  }
}

@media screen and (max-width: 840px) {
  .influencer_edit_form_card-container {
    min-height: 190vh !important;
  }
}

@media screen and (max-width: 600px) {
  .influencer_edit_hed_page {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  .influencer_edit_form_card-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    flex-direction: column !important;
  }
}

@media screen and (max-width: 555px) {
  .influencer_edit_image_profile h2 {
    font-size: 12px !important;
    font-weight: 400 !important;
  }
}

@media screen and (max-width: 390px) {
  .influencer_edit_hed_page h1 {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
  }
}
