.auth_register_page-container {
  display: flex;
  justify-content: space-between;
  height: auto;
  min-height: 120vh;
  width: 100%;
}

.auth_user_form_image {
  width: 40% !important;
  margin-top: 70px !important;
  object-fit: cover;
  background-color: #d5eafd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register_form_input {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-left: 150px;
  margin-top: 100px;
}

.register_page_title {
  color: #2168a6;
  font-size: 1.5em;
  font-family: "Fira Sans", sans-serif !important;
  font-weight: bold;
}

.login_form_link {
  color: #f294c0;
  font-weight: bold;
  font-size: 17px;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 6px;
}

.btn_register_form {
  background-color: #2e81ca;
  color: white;
  text-transform: uppercase;
  margin-top: 50px;
  border: 1px solid white;
  padding: 14px 24px;
  border-radius: 25px;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 50px;
}

.login_form_input_link-container {
  display: flex;
  margin-left: 215px;
  margin-top: 10px;
}

@media screen and (max-width: 890px) {
  .auth_user_form_image {
    width: 50% !important;
  }

  .register_form_input {
    width: 50% !important;
    margin-left: 100px !important;
  }

  .login_form_input_link-container {
    margin-left: 110px;
  }
}

@media screen and (max-width: 726px) {
  .auth_user_form_image {
    display: none;
  }

  .register_form_input {
    width: 100% !important;
    margin-left: 40px !important;
  }

  .btn_register_form {
    width: 150px;
    height: 40px;
    font-size: 17px;
  }
}
