.influencer_profile_light_side {
  width: 50%;
}

.influencer_profile_light_side-image img {
  height: 450px;
  margin-top: 90px !important ;
  width: 350px;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-radius: 30px;
}

.influencer_profile_light_side-description {
  margin-top: 30px;
}

.influencer_profile_light_side-description h3 {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 1.17em;
  margin-bottom: 5px;
}

.influencer_profile_light_side-description p {
  font-family: "Fira Sans", sans-serif;
  color: rgba(0, 0, 0, 0.292);
  width: 100%;
}
