.influencerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
}

.influencer-card_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.influencerPageContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
