
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.menu_container a {
  color: unset;
  text-decoration: none;
}

.menu_container ul {
  color: unset;
  list-style: none !important;
}

.dropdown_menu {
  color: #000;
  background-color: #fff;
  min-height: 100px;
  height: auto;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 4px 12px;
  cursor: pointer;
  border-radius: 5px;
  padding-bottom: 4px;
}

.dropdown_item-1 {
  color: #000 !important;
  margin-top: 5px !important;
  width: 80%;
  height: 30px;
  margin-left: 2%;
  display: flex;
  align-items: center;
}

.dropdown_item-1:hover {
  margin-top: 5px !important;
  background-color: #2168a66d;
  width: 80%;
  margin-left: 2%;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 2px;
 
}

.dropdown_item-2 {
  width: 80%;
  margin-left: 2%;
  height: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.dropdown_item-2:hover {
  width: 80%;
  margin-left: 2%;
  display: flex;
  align-items: center;
  background-color: #2168a66d;
  border-radius: 2px;
}
