.influencer_edit_form-personal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  flex-direction: column;
  margin-top: 10px;
}

.influencer_edit_form-personal-container h2 {
  color: #2168a6;
  font-size: 1.17em;
  font-weight: bold;
  margin-right: 295px;
  margin-top: 10px;
}

.influencer_edit_form-personal-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
}
