.menu_nave_screen {
  display: none;
}

.influencer_navBar_link-container-Link_login {
  text-decoration: none !important;
  font-family: "Fira Sans", sans-serif;
  padding: 20px 50px 20px;
  font-size: 19px;
  font-weight: 500;
  color: #fff;
}

@media screen and (max-width: 700px) {
  .influencer_navBar-user-menu {
    margin-left: 200px;
  }

  .influencer_navBar_link-container-Link_login {
    margin-left: 100px;
    padding: 15px 30px 15px;
    font-size: 16px;
  }
}

@media screen and (max-width: 650px) {
  .influencer_navBar-user-menu {
    margin-left: 130px;
  }

  .influencer_navBar_link-container-Link_login {
    margin-left: 100px;
    padding: 15px 30px 15px;
  }
}

@media screen and (max-width: 600px) {
  .influencer_navBar-user-menu {
    margin-left: 300px !important;
  }

  .influencer_navBar_link-container-Link_login {
    margin-left: 350px;
    padding: 15px 30px 15px;
  }
}

@media screen and (max-width: 550px) {
  .influencer_navBar-user-menu {
    margin-left: 300px !important;
  }

  .influencer_navBar_link-container-Link_login {
    margin-left: 310px;
    padding: 15px 20px 15px;
  }
}

@media screen and (max-width: 481px) {
  .influencer_navBar-user-menu {
    margin-left: 260px !important;
  }

  .influencer_navBar_link-container-Link_login {
    margin-left: 220px;
    padding: 15px 30px 15px;
  }
}

@media screen and (max-width: 440px) {
  .influencer_navBar-user-menu {
    margin-left: 200px !important;
  }

  .influencer_navBar_link-container-Link_login {
    margin-left: 150px;
    padding: 15px 30px 15px;
  }
}

@media screen and (max-width: 380px) {
  .influencer_navBar-user-menu {
    margin-left: 160px !important;
  }

  .influencer_navBar_link-container-Link_login {
    margin-left: 110px;
    padding: 15px 30px 15px;
  }
}

@media screen and (max-width: 330px) {
  .influencer_navBar-user-menu {
    margin-left: 120px !important;
  }
}
