.favoritePage_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px !important ;
  background-color: #eaeaea;
  min-height: 100vh;
  height: auto !important;
  flex-wrap: wrap;
}

.emptyFavoritePage_container {
  background-color: #eaeaea;
  height: 100%;
}
