.Influencer-bio-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  font-family: "Fira Sans", sans-serif;
}

.Influencer-bio-text p {
  width: 90% !important;
  margin-top: 10px;
  color: gray;
}

.Influencer-bio-interests {
  margin-top: 20px;
}

@media screen and (max-width: 650px) {
  .Influencer-bio-container {
    justify-content: center;
    text-align: start;
  }
}
